<!DOCTYPE html>
<html ng-app="SchoolManagementSolution" lang="en">
<head>
	<title></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/SemanticUI/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/master.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>

	<header class="portal-header show-mobile">
		<figure class="ui header">
			<img src="/images/logo.png" class="images">
			<div class="content">
				MOSHOOD ABIOLA POLYTECHNIC
				<div class="sub header">Technology for Development</div>
			</div> 
		</figure>
	</header>

	<!-- Portal Content Holder -->
	<section class="portal-content">
		


	<!-- Container for the LOGO & WELCOME TEXT -->

		<figure class="logo-and-text show-desktop">
			
			<img src="/images/logo-large.png">

			<hgroup>
				<h4 class="welcome-msg text-muted">WELCOME TO</h4>
				<h3 class="schoolname text-muted">MOSHOOD ABIOLA POLYTHENIC</h3>
			</hgroup>

			<footer><strong> &copy; 2015. </strong></footer>
		</figure>





		<!-- Container for the LOGIN FORM -->

		<article class="login-form-wrapper">

			<!-- Container for holding the user image, user fullname and email address -->
			<figure class="user-identity">

				<figure class="user-passport"> <img src="/images/gafar.jpg"> </figure>
			
				<figcaption>
					<p class="username">GAFAR OLOLADE</p>
					<P class="useremail">g_ololade@otandtconsulting.com</P>
				</figcaption>

			</figure>


			<!-- Login Form  -->
			<form action="javascript://" name="loginform" class="loginform">

			<aside class="general-errors">
				<i class="icon warning sign"></i>
				<hgroup>
					<h3>Connection timed out</h3>
					<h5>Please check your internet connection.</h5>
				</hgroup>
				<div class="clearfix"></div>
			</aside>


				<figure class="input-holder islogin-hidden">
					<div class="group">
						<input class="email-input" name="email" type="email" placeholder="Enter your email" ng-required="true" ng-model="email" />
						<i class="icon user"></i>
					</div>
					<span class="input-error"></span>
				</figure>

			
				<figure class="input-holder">
					<div class="group">
						<input class="password-input" name="password" type="password" placeholder="Enter your password" ng-required="true" ng-model="password" />
						<i class="icon lock"></i>
					</div>
					<span class="input-error"></span>
				</figure>

				<figure class="input-holder">
					<login-button />
				</figure>

				<a href="#" class="anchor">Lost your password?</a>

			</form>

		</article>



		<div class="clearfix"></div>


	</section>

	<footer class="portal-footer show-mobile">
		<p class="ui header">Moshood Abiola Polythenic &copy; 2015.</p>
	</footer>

	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/angular/angular.min.js"></script>
	<script type="text/javascript" src="/app_module/main.js"></script>
	<script type="text/javascript" src="/directives/smsdirectives.js"></script>
	<script type="text/ng-template" id="buttontemplate.html">
		<button class="loginbtn" type="submit">
			<div>
				<p class="login-icon">
					<span>
						<i class="icon arrow right"></i>
						<i class="icon lock"></i>
					</span>
				</p>
				<p>LOG IN</p>
			</div>
		</button>
	</script>
</body>
</html>