<html ng-app="SchoolManagementSolution">
<head>
	<title></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/SemanticUI/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/css/master.css">
</head>
<body>

	<header class="portal-header">
		<figure class="ui header">
			<img src="/images/logo.png" class="images">
			<div class="content">
				MOSHOOD ABIOLA POLYTECHNIC
				<div class="sub header">Technology for Development</div>
			</div> 
		</figure>
	</header>


	<section class="portal-content">
		
		<figure class="functionalbar bar3d">
			
			<div class="left-separation">
				
				<aside class="doublebar bar3d"></aside>

				<nav class="breadcrumb">
					
					<hgroup>
						<h4>Prospective Students</h4>
						<h5> 
							<a href="#"> Dashboard </a> <span>&nbsp;</span> 
							<cite> <i class="icon play"></i> Prospective Students </cite>
						</h5>
					</hgroup>

				</nav>

			</div>


			<div class="right-separation">
				
				<i class="icon caret down user-caret circle"></i>

				<aside class="user-info bar3d">
					<span class="user-fullname">Gafar Ololade</span>
					<img class="circle user-small-img" src="/images/gafar.jpg" />
				</aside>
				
			</div>

			<div class="clearfix"></div>

		</figure>


		<article class="filter-toolbar">
			
			<figure>
				<aside class="check toolbar-item">
					<i class="icon minus square outline"></i>
					<!--<i class="icon checkmark box"></i>-->
				</aside>
				<aside class="filter toolbar-item">
					<i class="icon filter"></i>
				</aside>
				<aside class="selectbox toolbar-item">
					<select name="session">
						<option value="">Session</option>
						<option value="2014">2014/2015</option>
						<option value="2015">2015/2016</option>
					</select>
				</aside>
			</figure>

			<figure>
				<aside class="textedittable toolbar-item hide-mobile">
					<input type="text" name="pagy-value" value="20,000">
				</aside>
				<aside class="founditems toolbar-item hide-mobile"><i>of 45,000</i></aside>
				<aside class="pagination toolbar-item">
					<p> <i class="icon angle double arrow left"></i> </p>
					<p> <i class="icon angle double arrow right"></i> </p>
				</aside>
			</figure>

			<div class="clearfix"></div>

		</article>





		<article class="cards ui students-list">
			

			<figure class="card ui raised segment stackable prospective-student">

					<a href="#" class="label right corner red ui large"><i class="icon remove"></i></a>

					<header class="image">
						<aside class="label ui ribbon teal">Completed</aside>
						<img class="ui circular" src="/images/gafar.jpg">
						<div class="header">Gafar Ololade</div>
					</header>

					<article class="content">
						<label class="ui black label">FRM0001</label>
						<label class="ui black label">EX1001</label>
						<label class="ui black label">+2348084745205</label>
						<label class="ui black label">Osun State</label>
						<label class="ui black label">Olorunda LGA</label>
						<label class="ui black label">Banking &amp; Finance</label>
						<label class="ui black label">23 April 1985</label>
						<label class="ui black label">Single</label>
						<label class="ui black label">Male</label>
						<label class="ui black label">g_ololade@gmail.com</label>
					</article>

					<footer class="extra content">
						
						<aside class="left floated">
							<input type="checkbox" id="footer-left-option-checkbox" name="footer-left-option-checkbox">
							<label for="footer-left-option-checkbox">
								<i class="icon pencil large"></i>
							</label>

							<div class="footer-option-bar-1">
								<figure>
									
								</figure>
							</div>
						</aside>

						<aside class="right floated">						
							<input type="checkbox" id="footer-right-option-checkbox" name="footer-right-option-checkbox">
							<label for="footer-right-option-checkbox">
								<i class="icon sun large"></i>
							</label>

							<div class="footer-option-bar-2">
								<figure>
									<aside>
										<a><i class="icon student"></i><p>Institution</p></a>
										<a><i class="icon handicap"></i><p>O`Level</p></a>
										<a><i class="icon info"></i><p>More Info</p></a>
										<a><i class="icon send"></i><p>Send SMS</p></a>
									</aside>
								</figure>
							</div>
						</aside>

					</footer>

					<cite class="checked-sign error-checked-sign"></cite>

			</figure>



		</article>



	</section>


	<footer class="portal-footer">
		<p class="ui header">Moshood Abiola Polythenic &copy; 2015.</p>
	</footer>

</body>
</html>